<div>
  <PlayerList @players={{this.players}} />
  <br>
  <button tabIndex="-1" {{action "addPlayer"}}>Add Player</button>
  <button {{action "clearPlayers"}}>Clear All Players</button>
  <br><br><br>
</div>
