<article class="player">
  <button tabIndex="-1" {{action "removePlayer"}}>
    <FaIcon @icon="user-times" />
  </button>
  <Input @id={{this.player.id}} 
    @placeholder="Player Name" 
    @enter={{action "updatePlayer"}}
    @value={{this.player.name}} />
</article>