<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Darn</h2>
  <p>A scoring app for the card game Oh Darn.</p>
  <p>v1: simple scoring sheet</p>
  <p>TODO: add link to playing instructions</p>
  <p>Pat Conley</p>
  <p>pconley312@gmail.com</p>
</div>
{{#link-to "contact" class="button"}}
  Contact Us
{{/link-to}}