<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>
    We welcome your comments.
  </p>
  <address>
    Oh Darn HQ
    <p>
      1212 Test Address Avenue<br>
      Testington, OR 97233
    </p>
    <a href="tel:703.626.2111">+1 (503) 555-1212</a><br>
    <a href="mailto:pconley312@gmail.com">pconley312@gmail.com</a>
  </address>
</div>