<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Scoring Sheet!</h2>
  {{#each this.model as |item|}}
    <p>{{p.name}}</p>
    <PlayerRow id={{item.id}} @player={{item}} />
  {{/each}}
  <p>add player</p>
</div>