<div>
  <h3>Scoring Page</h3>

  {{!-- {{#if isExpanded}}
    <button {{action "toggleBody"}}>Hide Body</button>
    <div class="body">
      BODY
    </div>
  {{else}}
    <button {{action "toggleBody"}}>Show Body</button>
  {{/if}} --}}

  <GameView @game={{this.model}} />

  <p>scoring page footer</p>

</div>
